* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.header__top-section {
  display: flex;
  justify-content: space-between;
}

.header__menu-container {
  display: flex;
  align-items: center;
}

.header__menu-icon-wrapper {
  margin: 0 15% 0 25%;
}

.header__menu-text {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 7%;
}

.header__logo-wrapper {
  margin: 3%;
}

.header__booking-link {
  text-decoration: none;
  color: white;
}

.header__bottom-section {
  background-color: #121212;
  text-align: center;
  padding: 1.8%;
  font-size: 0.8rem;
}

.header__go-back {
  position: absolute;
  left: 8%;
}

.hero {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
  font-size: 1.4rem;
}

.image {
  width: 100%;
}

.hero__title {
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.info-section {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.info-section--light {
  background-color: #f4f4f4;
  color: black;
}

.info-section--padding {
  padding: 8%;
}

.info-section__heading {
  padding: 5%;
}

.info-section__text {
  margin-bottom: 18%;
}

.info-section__button {
  margin-top: 20%;
}

.heading {
  font-size: 1.4rem;
  margin-bottom: 2%;
  font-weight: 700;
}

.text {
  font-size: 1.1rem;
}

.button {
  background-color: #55eabe;
  border: none;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
}

.button--dark {
  color: white;
  background-color: #173a30;
}

.button--black {
  border-width: 2px;
  border-style: solid;
  background-color: black;
  color: white;
  padding: 2% 4%;
  font-size: 1rem;
}

.button--low-opacity {
  opacity: 65%;
}

.card-section {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.card-section__heading {
  margin: 7% 8%;
  font-size: 1.3rem;
  font-weight: 600;
}

.card {
  width: 88%;
  background-color: #191919;
  margin-bottom: 8%;
}

.card__heading {
  margin: 6% 8% 0% 8%;
  font-size: 1.3rem;
  font-weight: 700;
}

.card__text {
  font-size: 1.1rem;
  margin: 0% 8% 6% 8%;
}

.card__from {
  font-size: 1rem;
  margin: 0% 8% 1% 4%;
}

.card__price {
  font-size: 1.1rem;
  font-weight: 700;
}

.card__button {
  margin: 4% 8% 8% 8%;
}

.card__paying-option {
  border-top: solid 2px white;
  margin: 0 5% 0 5%;
  padding: 1% 0 1% 0;
}

.card__paying-option--bottom-border {
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}

.card__choose-section {
  display: flex;
  justify-content: space-between;
}

.card__option-text {
  font-size: 1rem;
  text-align: start;
  margin: 2%;
  display: block;
}

.card__radio {
  margin: 2%;
  scale: 1.1;
}

.card__button {
  margin: 8%;
}

.ai-experience__top-wrapper {
  padding: 8% 8% 6% 8%;
}

.footer {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.footer__logo {
  margin: 8% 8% 3% 8%;
}

.footer__button {
  margin: 2% 8% 3% 8%;
}

.footer__icons-wrapper {
  margin: 2% 8% 2% 8%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__icon {
  height: 100%;
  margin: 5%;
}

.footer__heading {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 2% 8% 0.5% 8%;
}

.footer__text {
  font-size: 1rem;
  margin: 0.5% 8% 0.5% 8%;
}

.footer__text--bottom-margin {
  margin-bottom: 6%;
}

.footer__copyright {
  background-color: #191919;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  padding: 3% 8% 3% 8%;
  font-weight: 500;
  margin-top: 12%;
}

.background-image {
  width: 100%;
  position: relative;
}

.background-image__go-back {
  position: absolute;
  top: 8%;
  left: 6%;
  opacity: 70%;
}

.background-image__left-arrow {
  position: absolute;
  left: 5%;
  top: 50%;
  opacity: 40%;
  transform: translateY(-50%);
}

.background-image__right-arrow {
  position: absolute;
  right: 5%;
  top: 50%;
  opacity: 90%;
  transform: translateY(-50%);
}

.background-image__dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  opacity: 90%;
  transform: translateX(-50%);
}

.booking-form {
  width: 100%;
  padding: 8%;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: auto;
  column-gap: 6%;
}

.booking-form__label {
  grid-column: auto/span 2;
}

.booking-form__label--short {
  grid-column: auto/span 1;
}

.booking-form__dropdown,
.booking-form__calendar {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #191919;
  padding: 1.2rem;
  border: none;
  border-radius: 5px;
  margin: 10px 0 30px 0;
}

.booking-form__dropdown {
  grid-column: auto/span 2;
}

.booking-form__calendar {
  grid-column: auto/span 1;
  margin: 10px 0 30px 0;
}

.booking-form__button {
  grid-column: auto/span 2;
  width: 35%;
  justify-self: center;
  margin: 6%;
}
