* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.header__top-section {
  display: flex;
  justify-content: space-between;
}

.header__menu-wrapper {
  display: flex;
  align-items: center;
}

.header__menu-icon-wrapper {
  margin: 0 15% 0 25%;
}

.header__menu-text {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 7%;
}

.header__logo-wrapper {
  margin: 3%;
}

.header__bottom-section {
  background-color: #121212;
  text-align: center;
  padding: 1.6%;
  font-size: 0.8rem;
}

.hero {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
  font-size: 1.4rem;
}

.hero__image {
  width: 100%;
}

.hero__title {
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.description {
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  padding: 8%;
}

.description__heading,
.book-through__heading,
.offer__heading,
.ai-experience__heading {
  font-size: 1.4rem;
  margin-bottom: 2%;
  font-weight: 700;
}

.description__text,
.book-through__text,
.ai-experience__text {
  font-size: 1.1rem;
}

.book-through {
  width: 100%;
  background-color: #f4f4f4;
  text-align: center;
  padding: 8%;
}

.button {
  background-color: #55eabe;
  border: none;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 3% 6%;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
}

.book-through__button,
.ai-experience__button {
  margin-top: 8%;
}

.book-through__button--dark-green,
.ai-experience__button--dark-green {
  color: white;
  background-color: #173a30;
}

.popular-offers {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.popular-offers__heading {
  margin: 7% 0;
}

.offer {
  width: 90%;
  background-color: #191919;
  margin-bottom: 10%;
}

.offer__image {
  width: 100%;
  margin-bottom: 3%;
}

.offer__text {
  font-size: 1.1rem;
  margin: 3% 8%;
}

.offer__from {
  font-size: 1rem;
  margin: 6% 8% 1% 8%;
}

.offer__price {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 8%;
}

.offer__button {
  margin: 4% 8% 8% 8%;
}

.ai-experience {
  width: 100%;
  background-color: #f4f4f4;
  text-align: center;
}
.ai-experience__top-wrapper {
  padding: 8% 8% 6% 8%;
}
.ai-experience__image {
  width: 100%;
}
