* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}
.header__top-section {
  display: flex;
  justify-content: space-between;
}
.header__menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon-wrapper {
  margin: 0 15% 0 25%;
}
.header__menu-text {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 4%;
}
.header__logo-wrapper {
  margin: 3%;
}
.header__booking-link {
  text-decoration: none;
  color: white;
}
.header__bottom-section {
  background-color: #121212;
  text-align: center;
  padding: 1.8%;
  font-size: 0.85rem;
}
.header__go-back {
  position: absolute;
  left: 8%;
}
.hero {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.image {
  width: 100%;
}
.hero__title {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 2rem;
}
.info-section {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  padding: 8%;
}
.info-section--light {
  background-color: #f4f4f4;
  color: black;
}
.info-section__heading {
  padding: 5%;
}
.info-section__button {
  margin-top: 20%;
}
.heading {
  font-size: 1.5rem;
  margin-bottom: 2%;
  font-weight: 700;
}
.text {
  font-size: 1.3rem;
}
.button {
  background-color: #55eabe;
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
}
.button--dark {
  color: white;
  background-color: #173a30;
}
.button--black {
  border-width: 2px;
  border-style: solid;
  background-color: black;
  color: white;
  padding: 2% 4%;
  font-size: 1rem;
}
.button--low-opacity {
  opacity: 65%;
}
.button--wider {
  padding-left: 35px;
  padding-right: 35px;
}
.card-section {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}
.card-section__heading {
  margin: 7% 8%;
  font-size: 1.5rem;
  font-weight: 700;
}
.card-section__grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 88%;
}
.card {
  width: 100%;
  background-color: #191919;
  margin-bottom: 8%;
  grid-column: auto/span 1;
}
.card__heading {
  margin: 6% 8% 0% 8%;
  font-size: 1.5rem;
  font-weight: 700;
}
.card__text {
  font-size: 1.3rem;
  margin: 0% 8% 6% 8%;
}
.card__text--smaller {
  font-size: 1rem;
  margin: 0% 8% 1% 4%;
}
.card__text--bold {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 2%;
}
.card__paying-option {
  border-top: solid 2px white;
  margin: 0 5% 0 5%;
  padding: 1% 0 1% 0;
}
.card__paying-option--bottom-border {
  border-top: solid 2px white;
  border-bottom: solid 2px white;
}
.card__choose-section {
  display: flex;
  justify-content: space-between;
}
.card__option-text {
  font-size: 1rem;
  text-align: start;
  margin: 2%;
  display: block;
}
.card__radio {
  margin: 2%;
  scale: 1.1;
}
.card__button {
  margin: 8%;
}
.footer {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.footer__logo {
  margin: 8% 8% 3% 8%;
}
.footer__button {
  margin: 2% 8% 3% 8%;
}
.footer__icons-container {
  margin: 2% 8% 2% 8%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__icon {
  height: 100%;
  margin: 5%;
}
.footer__heading {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 2% 8% 0.5% 8%;
}
.footer__text {
  font-size: 1rem;
  margin: 0.5% 8% 0.5% 8%;
  text-align: center;
}
.footer__text--bottom-margin {
  margin-bottom: 6%;
}
.footer__copyright {
  background-color: #191919;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  padding: 3% 8% 3% 8%;
  font-weight: 500;
  margin-top: 12%;
}
.background-image {
  width: 100%;
  position: relative;
}
.background-image__go-back {
  position: absolute;
  top: 8%;
  left: 6%;
  opacity: 70%;
}
.background-image__left-arrow {
  position: absolute;
  left: 5%;
  top: 50%;
  opacity: 50%;
  transform: translateY(-50%);
}
.background-image__right-arrow {
  position: absolute;
  right: 5%;
  top: 50%;
  opacity: 95%;
  transform: translateY(-50%);
}
.background-image__dots {
  position: absolute;
  bottom: 6%;
  left: 50%;
  opacity: 95%;
  transform: translateX(-50%);
}
.facilities__text {
  margin-bottom: 18%;
}
.booking-step {
  background-color: #f4f4f4;
  font-size: 1rem;
  text-align: center;
  padding: 4%;
}
.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.booking-form-container {
  width: 100%;
  padding: 8%;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: auto;
  column-gap: 6%;
}
.booking-form__label-long {
  grid-column: auto/span 2;
}
.booking-form__label-short {
  grid-column: auto/span 1;
}
.booking-form__dropdown,
.booking-form__calendar {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #191919;
  padding: 1.2rem;
  border: none;
  border-radius: 5px;
  margin: 10px 0 30px 0;
}
.booking-form__dropdown {
  grid-column: auto/span 2;
}
.booking-form__calendar {
  grid-column: auto/span 1;
}
.header__icon--desktop,
.header__logo--desktop,
.image--desktop,
.footer__logo--desktop,
.footer__icon--desktop,
.header__form,
.header__drop-down,
.header__option,
.hide,
.header__bottom-section--desktop {
  display: none;
}
@media (min-width: 650px) {
  .header__icon,
  .header__logo,
  .image,
  .footer__logo,
  .footer__icon,
  .header__booking-link,
  .header__menu-container--desktop,
  .header__top-section--desktop-booking,
  .hide,
  .header__bottom-section {
    display: none;
  }
  .header__icon--desktop,
  .header__logo--desktop,
  .image--desktop,
  .footer__logo--desktop,
  .footer__icon--desktop,
  .header__drop-down,
  .header__option,
  .header__form,
  .image--desktop,
  .header__bottom-section {
    display: block;
  }
  .header__top-section {
    align-items: center;
  }
  .header__menu-container {
    width: 200px;
    /* margin: 0 0 0 40px; */
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
    margin-left: 40px;
  }
  .header__icon-wrapper {
    margin: 0;
  }
  .header__menu-text {
    font-size: 1.4rem;
    padding: 0 0 0 15px;
    margin: 0;
  }
  .header__logo-wrapper {
    margin: 35px;
  }
  .header__form {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 200px;
    margin-right: 40px;
  }
  .header__drop-down {
    width: auto;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .header__bottom-section {
    padding: 20px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__bottom-section--desktop-booking {
    justify-content: space-between;
    padding: 60px 0 60px 0;
  }
  .header__link {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    overflow: hidden;
  }
  .button {
    font-size: 1.3rem;
    padding: 15px 25px;
  }
  .header__button {
    margin: 0 30px;
  }
  .header__back-wrapper {
    display: flex;
    align-items: center;
    width: 200px;
    margin-left: 40px;
  }
  .header__go-back {
    position: static;
    width: auto;
  }
  .hero__title {
    font-size: 2.5rem;
  }
  .header__menu-text:hover,
  .header__menu-container:hover,
  .header__drop-down:hover,
  .button:hover,
  .header__link:hover,
  .footer__icon:hover,
  .background-image__go-back:hover,
  .header__go-back:hover,
  .booking-form__dropdown:hover,
  .booking-form__calendar:hover {
    cursor: pointer;
    opacity: 85%;
    transition: 0.1s;
  }
  .background-image__right-arrow:hover,
  .background-image__dots:hover {
    cursor: pointer;
    opacity: 100%;
    transition: 0.1s;
  }
  .background-image__left-arrow:hover,
  .card__radio {
    cursor: pointer;
    transition: 0.1s;
  }
  .background-image--wide {
    width: 50%;
  }
  .background-image__go-back {
    top: 40px;
    left: 40px;
  }
  .button--dark:hover {
    cursor: pointer;
    opacity: 92%;
    transition: 0.1s;
  }
  .button--low-opacity:hover {
    opacity: 65%;
  }
  .button--black {
    font-size: 1.25rem;
  }
  .button--wider {
    padding-left: 40px;
    padding-right: 40px;
  }
  .info-section {
    padding: 4%;
  }
  .info-section__button {
    margin-top: 50px;
  }
  .booking-step {
    padding: 25px;
  }
  .facilities__text {
    margin-bottom: 7%;
  }
  .heading {
    font-size: 2rem;
    margin-bottom: 1%;
    max-width: 950px;
  }
  .text {
    font-size: 1.5rem;
    max-width: 950px;
  }
  .card {
    margin-bottom: 0;
  }
  .card-section {
    padding: 0 4% 4% 4%;
  }
  .card-section__heading {
    margin: 40px;
    font-size: 2rem;
    max-width: 950px;
  }
  .card--wide {
    display: flex;
    grid-column: auto/ span 2;
  }
  .card__text-section {
    width: 50%;
  }
  .card-section__grid {
    grid-template-columns: 1fr 1fr;
    max-width: 950px;
    gap: 35px;
    width: 100%;
  }
  .card__heading {
    font-size: 2rem;
  }
  .card__text {
    font-size: 1.5rem;
  }
  .card__text--desktop {
    font-size: 1.25rem;
  }
  .card__text--smaller {
    font-size: 1.25rem;
  }
  .card__text--bold {
    font-size: 1.4rem;
  }
  .card__radio {
    scale: 1.3;
  }
  .footer__logo-wrapper {
    width: 400px;
    display: flex;
    justify-content: center;
  }
  .footer__logo {
    margin: 70px 0 50px 0;
    max-width: 950px;
  }
  .footer__button {
    margin: 0;
    max-width: 950px;
  }
  .footer__icons-container {
    margin: 40px 0 40px 0;
  }
  .footer__icon {
    height: 100%;
    margin: 0 15px;
  }
  .footer__heading {
    font-size: 1.5rem;
    margin: 0;
  }
  .footer__text {
    font-size: 1.3rem;
    margin: 4px;
  }
  .footer__text--bottom-margin {
    margin-bottom: 40px;
  }
  .footer__copyright {
    font-size: 1rem;
    padding: 20px 0;
    margin-top: 80px;
  }
  .booking-form-container {
    max-width: 950px;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(
        0,
        1fr
      );
    column-gap: 30px;
    padding: 0;
    margin: 60px 0 50px 0;
  }
  .booking-form {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 4%;
  }
  .booking-form__label-long {
    grid-column: auto/span 1;
  }
  .booking-form__dropdown,
  .booking-form__calendar {
    grid-row: 2/3;
    font-size: 1.2rem;
    grid-column: auto/span 1;
  }
  .background-image__wrapper {
    position: relative;
  }
}
